:root {
    --main-bg: #ffeaea;
    --counter-items: #481616;
    --todo-title: #481616;
    /* --main-btn: #ffd1d1; */
    --tomato-btn: #fd7272;
    --tomato-btn-hover: #f85858;
    --timer-title: #fd7272;
    --container-bg: white;
    --btn-start-bg: #6dc781;
    --btn-start-hover: #4fa362;
}
* {
    margin: 0;
    font-family: "Lato", sans-serif;
    cursor: url(/assets/images/tomato.cur) 2 2, auto;
}
html,
body {
    height: 100%;
}
body {
    background-color: var(--main-bg);
    padding: 40px;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: #2c3e50;
}
.header {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.header__logo {
    width: 50px;
    height: 50px;
}
.tomato-accent {
    color: var(--tomato-btn);
}
.header__title {
    margin: 0;
    font-size: 30px;
}
.timer-container {
    margin: 25px auto 0 auto;
    padding: 25px;
    width: 580px;
    border-radius: 15px;
    background-color: var(--container-bg);
}
.timer-container__settings {
    display: flex;
    align-items: center;
}

.timer-container__img {
    width: 30px;
    height: 30px;
}
.timer-container__para {
    margin: 0 auto 0 auto;
    font-size: 30px;
    font-weight: bold;
    color: var(--timer-title);
}
.timer-container__counter {
    text-align: center;
    margin-top: 15px;
    font-size: 50px;
    color: var(--counter-items);
}
.timer-container__buttons {
    display: flex;
    justify-content: center;
    column-gap: 15px;
    margin-top: 15px;
}
.btn-start,
.btn-stop,
.save-btn,
.close-btn2 {
    width: 150px;
    height: 35px;
    font-size: 25px;
    border-radius: 5px;
    color: var(--container-bg);
    background-color: var(--btn-start-bg);
    border: none;
}
.btn-start:hover,
.save-btn:hover {
    background-color: var(--btn-start-hover);
}
.btn-stop,
.close-btn2 {
    background-color: var(--tomato-btn);
}
.btn-stop:hover,
.close-btn2:hover {
    background-color: var(--tomato-btn-hover);
}
.wrapper {
    margin: 0 auto;
    margin-top: 20px;
    background-color: var(--container-bg);
    padding: 25px;
    width: 580px;
    border-radius: 15px;
    /* max-width: 50%; */
}
.title {
    color: var(--todo-title);
}
.task {
    display: flex;
}
#newTask {
    width: 500px;
    min-width: max-content;
    height: 30px;
    margin-bottom: 30px;
    font-size: 20px;
}

.task__btn,
.todo-list__btn,
.todo-task__del {
    background-color: var(--btn-start-bg);
    height: 35px;
    border: none;
    color: white;
    font-size: 20px;
}
.task__btn {
    background-image: url(../images/tomato2.png);
    background-color: var(--container-bg);
    cursor: pointer;
    margin-left: 5px;
    width: 35px;
    background-size: contain;
}
.todo-list__btn {
    margin-top: 15px;
    border-radius: 5px;
    position: relative;
    bottom: 0;
    background-color: var(--tomato-btn);
}
.todo-list__btn:hover {
    background-color: var(--tomato-btn-hover);
}
.notasks {
    font-size: 20px;
    color: var(--todo-title);
}
.task-list {
    padding: 10px 0 10px 0;
    display: flex;
}
.task-list__text {
    margin-left: 10px;
}

.todo__task {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.todo__task_complete .todo-task__text {
    text-decoration: line-through;
    color: rgb(0, 0, 0, 0.3);
}

.todo__checkbox {
    margin-right: 16px;
}
.todo__checkbox input {
    display: none;
}

.todo__checkbox input:checked + div::after {
    display: block;
}
.todo__checkbox div {
    width: 28px;
    height: 28px;
    border: 3px solid var(--tomato-btn);
    border-radius: 4px;
    position: relative;
    cursor: pointer;
}
.todo__checkbox div::after {
    display: none;
    content: "✓";
    font-size: 23px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: var(--todo-title);
}
.todo-task__text {
    width: fit-content;
    font-size: 20px;
    max-width: 96%;
    word-break: break-all;
    margin: 1%;
    color: var(--todo-title);
}

.todo-task__del {
    margin-left: auto;
    margin-right: 0;
    height: auto;
    width: 25px;
    height: 23px;
    text-align: center;
    background-color: var(--tomato-btn);
}
.settings__wrapper {
    display: none;
    margin: 25px auto 0 auto;
    padding: 25px;
    border-radius: 15px;
    background-color: var(--container-bg);
    /* height: 190px; */
    width: 580px;
    margin-top: 20px;
}
.settings-body {
    font-size: 25px;
    color: var(--counter-items);
}
.settings-header {
    display: flex;
    justify-content: space-between;
    color: var(--counter-items);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}
.close {
    border: none;
    background: transparent;
}
.close-btn,
.settings-header > div > img {
    height: 15px;
    width: 15px;
}
.time-setting-form {
    margin: 15px 15px 0 15px;
}
.timer-line {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.timer-line > input {
    width: 65px;
    height: 30px;
    border-radius: 8px;
    border: solid 1.5px #eaeaea;
    text-align: center;
}
.timer-line:first-child {
    margin-bottom: 15px;
}
.settings-btns {
    display: flex;
    justify-content: center;
    column-gap: 15px;
    margin-top: 15px;
}
/* .save-btn {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin-top: 15px;
    font-weight: bold;
    text-align: center;
    background-color: var(--btn-start-bg);
    color: var(--container-bg);
}
.close-btn2 {
    width: 100px;
    height: 40px;
    margin-top: 15px;
    border: none;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    background-color: var(--tomato-btn);
    color: var(--container-bg);
} */
@media (min-width: 1280px) {
    body {
        background-image: url(../images/tomato-chan.png);
        background-size: contain;
        background-position-x: right;
        background-repeat: no-repeat;
    }
}
@media (max-width: 767px) {
    .wrapper,
    .timer-container,
    .settings__wrapper {
        max-width: 500px;
    }
    .task__btn {
        height: 31px;
        width: 33px;
    }
}
@media (max-width: 635px) {
    body {
        padding: 1.25em;
    }
    .wrapper,
    .timer-container,
    .settings__wrapper {
        max-width: 400px;
    }
    .task__btn {
        height: 27px;
        width: 33px;
    }
}
@media (max-width: 498px) {
    body {
        padding: 0;
    }
    h1 {
        font-size: 28px;
    }
    .header {
        margin: 5px;
    }
    .timer-container__counter {
        font-size: 40px;
    }
    .header__title {
        font-size: 25px;
    }
    #newTask {
        height: 20px;
    }
    .timer-container__para {
        font-size: 25px;
    }
    .wrapper,
    .timer-container,
    .settings__wrapper {
        max-width: 300px;
    }
    .task__btn {
        height: 23px;
    }
}
@media (max-width: 414px) {
    .wrapper {
        border: none;
    }
}

/* ::-webkit-scrollbar-thumb {
    background-color: var(--main-bg);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
} */
/* ::-webkit-scrollbar-track {
    background-color: transparent;
} */
